presentcounter {
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0%;
    bottom: 150px;
    background-repeat: no-repeat;
    background-image: url(materials/ui/present_icon.png);
    transform: scale( 1 );

    .presentText {
        right: 50px;
        top: 50px;
        text-shadow: 5px 5px 50px rgba( black, 0.8 );
        color: white;
        font-family: Poppins;
        font-size: 50px;
        font-weight: 900;
    }

    &.pickup {
        transition: all 0.5s ease-out;
        transform: scale(1.25);
    }
}
