presentcounter {
    position: absolute;
    height: 150px;
    width: 150px;
    right: 0%;
    bottom: 150px;
    background-repeat: no-repeat;
    background-image: url(materials/ui/present_icon.png);
    transform: scale( 1 );
    transition: all 0.1s ease-out;

    .presentText {
        right: 50px;
        top: 50px;
        color: white;
        font-family: Poppins;
        font-size: 50px;
        font-weight: 900;
        text-shadow: 0px 5px black;
    }

    &.pickup {
        transform: scale(1.20);
        transition: all 0.05s ease-in;
    }

    &.death {
        transition: all 0.1s ease-in;
        transform: rotateX(90);
    }
}
