sfnametags {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;

	basenametag {
		font-family: Poppins;
		position: absolute;
		font-weight: 500;
		color: white;
		background-color: rgba(140, 253, 255, 0.1);
		font-size: 40px;
		transform-origin: 50% 0%;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		flex-direction: row-reverse;

		label {
			padding: 1px 60px;
			padding-left: 40px;

			&.Green {
				color: rgba(40, 255, 70, 1);
			}

			&.Red {
				color: rgba(255, 40, 40, 1);
			}
		}

		image {
			width: 60px;
			height: 60px;
			margin: 20px;
			margin-right: 0px;
			border-radius: 100px;
		}
	}
}
