vitals {
    position: absolute;
    bottom: 25px;
    opacity: 1;
    width: 225px;
    height: 250px;
    background-repeat: no-repeat;
    background-image: url(materials/ui/health_bg.png);

    .healthFill {
        width: 230px;
        height: 250px;
        bottom: -5px;
        left: 1px;
        background-repeat: no-repeat;
        background-image: url(materials/ui/health_icon.png);
        transform: rotateX(180);
    }
}
