vitals {
    position: absolute;
    width: 230px;
    height: 250px;
    bottom: 0%;
    background-repeat: no-repeat;
    background-image: url(materials/ui/health_bg.png);
    
}

.healthFill {
    position: absolute;
    width: 230px;
    height: 250px;
    left: 27px;
    bottom: 5px;
    background-repeat: no-repeat;
    background-image: url(materials/ui/health_icon.png);
    transform: rotate(180);
}